### Windows ###

# Thumbnail caches
Thumbs.db
ehthumbs.db

# Folder configuration files
Desktop.ini

### Mac OS X ###

# Thumbnail caches
._*

# Folder configuration files
.DS_Store
.DS_Store?

# Vendor folder
/vendor
